version: '3.8'

services:
  manager:
    image: knplabs/server-side-renderer:manager-test
    build:
      context: .
      target: prod
    depends_on:
      - redis
    environment:
      - MANAGER_ENABLED=1
      - WORKER_ENABLED=0
      - QUEUE_REDIS_DSN=redis://redis:6379

  worker:
    image: knplabs/server-side-renderer:worker-test
    build:
      context: .
      target: prod
    depends_on:
      - redis
    environment:
      - MANAGER_ENABLED=0
      - WORKER_ENABLED=1
      - QUEUE_REDIS_DSN=redis://redis:6379
      - WORKER_RENDERER_REDIRECTIONS=http://external-nginx|http://nginx
    volumes:
      - ./fixtures/scripts/postRender.js:/app/scripts/postRender.js:ro

  redis:
    image: redis:6.2.2-buster

  nginx:
    image: nginx:1.20.0
    volumes:
      - ./fixtures/nginx/html:/usr/share/nginx/html:ro
      - ./fixtures/nginx/templates:/etc/nginx/templates:ro

  test:
    image: knplabs/server-side-renderer:test-runner-test
    build:
      context: .
      target: dev
    depends_on:
      - manager
      - worker
      - nginx
    command: yarn test
    volumes:
      - ./src:/app/src:ro
      - ./package.json:/app/package.json:ro
      - ./yarn.lock:/app/yarn.lock:ro
      - ./babel.config.cjs:/app/babel.config.cjs:ro
      - ./jest.config.js:/app/jest.config.js:ro
      - ./.eslintrc.json:/app/.eslintrc.json:ro
    profiles:
      - test
